/* 
Border shorthand looks like this:
p {
    border: 5px solid red;
}
The order is: border-width border-style(required) border-color
*/

body {
  background-color: lightblue;
}

.wrapper {
  margin: 5px;
}

h1 {
  text-align: center;
}

#title-p {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

.border-style li {
  margin: 5x;
}

.border-style li:nth-child(1) {
  border-style: dotted;
}

.border-style li:nth-child(2) {
  border-style: dashed;
}

.border-style li:nth-child(3) {
  border-style: solid;
}

.border-style li:nth-child(4) {
  border-style: double;
}

.border-style li:nth-child(5) {
  border-style: groove;
}
